body {
    font-family: 'Montserrat', sans-serif;
    background-color: #040e26;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.cadastro-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 30px;
}

.cadastro-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #040e26;
}

.cadastro-form label {
    display: block;
    margin-bottom: 5px;
    color: #040e26;
}

.cadastro-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
}

.btn-secondary {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    color: #fff;
}

footer {
    background-color: #212f3c;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .cadastro-form {
        padding: 20px;
    }

    .button-group {
        flex-direction: column; /* Alinha os botões na vertical */
    }

    .btn-primary, .btn-secondary {
        width: 100%; /* Expande os botões para toda a largura em telas pequenas */
    }
}
