body {
    font-family: 'Montserrat', sans-serif;
    background-color: #040e26;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    max-width: 319px;
    margin-top: -45px;
}

.buttons {
    margin-top: 30px;
}

.btn-outline-secondary {
    border-color: #fff;
}

.terms {
    margin-top: 20px;
}

.bg-secondary {
    background-color: #212f3c;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    .logo {
        max-width: 250px; /* Ajuste para telas pequenas */
    }

    .buttons {
        flex-direction: column; /* Alinha os botões verticalmente */
    }
}
